@media screen and (min-width: 768px){
    .md-grid {
        max-width: 75rem;
    }

    .md-content {
        margin-left: 5rem;
        margin-right: 5rem;
        text-align: justify;
    }
}

.post__img_legend {
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

.md-typeset h1 {
    margin: 0 0 -0.5rem;
}

.md-typeset h2 {
    margin: 1.6rem 0 -0.5rem;
}

.md-typeset h3 {
    margin: 1.4rem 0 -0.5rem;
}

.md-typeset .admonition, .md-typeset details {
    font-size: 0.75rem;
}

.md-typeset .footnote {
    font-size: 0.75rem;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.custom-source-date__date {
    font-size: 0.9rem;
}

.custom-source-date__socials__img {
    float: right;
    width: 70px;
    border-radius: 50%;
    margin-left: 0.75rem;
}

.custom-source-date__socials__name {
    /* display: inline; */
    font-size: 1rem;
    text-align: right;
}

.custom-source-date__socials__icons {
    text-align: right;
}

.md-typeset .emojione svg, .md-typeset .gemoji svg, .md-typeset .twemoji svg {
    fill: black;
}